<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>RestEasy API Information</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
          rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">


</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
        {% for cfg_name, cfg in cfgs|dictsort %}
            <div class="row">
            <div class="eight columns">
                <h1><a href="{{ url_for(cfg.endpoint_name) }}">{{ cfg_name }}</a></h1>
                <h5>HTTP Methods -> {{ cfg.http_methods|join(', ') }}</h5>
                <h5>JSON Allowed To Client</h5>
                <pre><code>{{ cfg.allowed_to_as_json() }}</code></pre>
                <h5>JSON Allowed From Client</h5>
                <pre><code>{{ cfg.allowed_from_as_json() }}</code></pre>
            </div>
            </div>
        {% endfor %}
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
